.contact{
    background-image: url(../../images/customercare.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    height: 100vh;
}
.contact::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    background: #582d086c;
    opacity: .9;
    z-index: -1;
}