.login-bg{
    background:linear-gradient(0deg, #33333380, #33333380), url(../../images/headerbg.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    height: 100vh;
}
