*{
    margin: 0;
    padding: 0;
}
.text-brand{
    color: #EE4D01 !important;
}

.btn-brand{
    border-color: #EE4D01 !important;
    color: #EE4D01 !important;
}
.btn-brand:hover{
    background-color: #EE4D01 !important;
    color: #fff !important;
}
.btn-brand-filled{
    background-color: #EE4D01 !important;
    color: #fff !important;
}
.btn-brand-filled:hover{
    background-color: #d1561d !important;
    color: #fff !important;
}
.tranfrom-hover:hover{
    transform: scale(1.05);
    transition: ease-in-out 1.2s;
}
.bg-main{
    background-color: #FFF8F5;
}
.bg-dashboard{
    background-color: #FFF8F5;
}